{% extends '../base.html' %}

{% block content %}
 <!-- Detail Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">

                    <h6 class="text-primary mb-3">{{ teacher.created }}</h6>
                    <h1 class="mb-5">{{ teacher.name }}</h1>
                    <img class="img-fluid rounded w-100 mb-4"  src="{{ teacher.photo.url }}"  alt="Image">                    
                    <p> {{ teacher.description }} </p>
                    {% if teacher.position %}
                    <h5>O'qituvchining maktabdagi lavozimi: {{ teacher.position.position }}
                    {% endif %}
                    <h5> O'qituvchining telefon raqami: {{ teacher.phone }} </h5>
                    <h5> O'qituvchining mutaxassisligi: {{ teacher.science.science_name }} fani o'qituvchisi</h5>

                </div>
            </div>
        </div>
    </div>
</div>

             
               
<!-- Detail End -->
{% endblock %}