{% extends '../base.html' %}

{% block content %}
 <!-- Detail Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    {% for class in class %}
                    <h1 class="mb-5">{{ class.group_NumberLetter }}</h1>
                    <h5><a href="{% url 'class:group_details' class.id %}"> Sinf haqida ma'lumot</a></h5>
                    <h5> Sinf rahbari: <a href="{% url 'school:teacher_details' class.class_curator.id %}" >{{class.class_curator.name}} </a></h5>
                    <h5> O'qituvchining telefon raqami: {{class.class_curator.phone}} </h5></br></br>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
</div>
        
<!-- Detail End -->
{% endblock %}
