{% extends 'base.html' %}
{% load static %}

{% block title %}Xush kelibsiz!{% endblock %}

{% block content %}

 <!-- Carousel Start -->
 <div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade 3000" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="{% static 'img/maktab_2.jpg' %}" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h3 class="text-white text-uppercase mb-md-3">Buxoro viloyat Shofirkon tuman</h3>
                        <h1 class="display-3 text-white mb-md-4">4-umumiy o'rta ta'lim maktabi</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="{% static 'img/maktab_1.jpg' %}" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="{% static 'img/maktab_3.jpg' %}" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

 <!-- Team Start -->
 <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h1>Maktabimiz o'qituvchilari</h1>
        </div>
        
        <div class="row">      
            {% for teachers in teachers %}   
           
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="{{ teachers.photo.url }}" alt="Chiqmadi">
                    </div>
                    <div class="bg-secondary p-4">
                        <h5><a  href="{% url 'school:teacher_details' teachers.id %}">{{teachers.name}}</a></h5>
                        <p class="m-0">{{ teachers.science.science_name }}</p>
                    </div>
                </div>
            </div>   
                
            {% endfor %}  
        </div>
        <a href="{% url 'school:teacher_list' %}"><p>Barcha o'qituvchilarni ko'rish</p><a/>
    </div>
</div>    
{% comment %} Team end {% endcomment %}    
 <!-- Administation Start -->
 <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h1>Maktabimiz Rahbariyat</h1>
        </div>
        <div class="row">      
            {% for administrations in administrations %}   
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="{{ administrations.photo.url }}" alt="Chiqmadi">
                    </div>
                    <div class="bg-secondary p-4">
                        <h5><a href="{% url 'school:admin_details' administrations.id %}">{{administrations.name}}</a></h5>
                        <p class="m-0">{{ administrations.position.position }}</p>
                    </div>
                </div>
            </div>   
                
            {% endfor %}  
        </div>
        <a href="{% url 'school:admin_list' %}"><p>Maktab rahbariyati xodimlari</p><a/>
    </div>
</div>    



<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h1>Maktabimiz Yangiliklari</h1>
        </div>
        <div class="row">      
            {% for post in post_h %}
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="{{ post.photo.url }}" alt="Chiqmadi">
                    </div>
                    <div class="bg-secondary p-4">
                        <h5><a href="{% url 'news:post_details' post.id %}">{{post.title}}</a></h5>
                        <p class="m-0">{{ post.data_created }}</p>
                    </div>
                </div>
            </div>   
                
            {% endfor %} 
        </div>
        <a href="{% url 'news:all_post' %}"><p>Hammasini e'lon va yangiliklarini ko'rish</p><a/>
    </div>
</div>   

{% endblock %}
